#titel {
    display: flex;
    border: 1px solid black;
    width: 18vw;
    height: 7vh;
    font-size: 5em;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#titel2 {
    display: flex;
    border: 1px solid black;
    width: 20vw;
    height: 4vh;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5vh;
}

#titel3 {
    display: flex;
    border: 1px solid black;
    width: 13vw;
    height: 5vh;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vh;
}

#pic {
    width: 50vw;
    height: 60vh;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border: 1px solid black;
}

#pic img {
    width: 100%;
    height: 100%;
}

#buttoncorner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 28vw;
    height: 7vh;
    top: 91vh;
    left: 4vh;
    gap: 2vh;
}

.button {
    border: 1px solid black;
    width: 47%;
    background-color: gray;
    font-size: 3em;
    cursor: pointer;
}

.button a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
}

#buttonoverslaan {
    border: 1px solid black;
    height: 100%;
    background-color: gray;
    width: 50%;
    font-size: 3em;
    cursor: pointer;
}

#buttonoverslaan a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100%;
}